.about-container {
  width: 100%;
}

.about-styling {
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 135, 92, 0.37);
  backdrop-filter: blur(100px); /* This line is removed to eliminate the blur */
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* position: relative; */
  /* z-index: 2; */
  color: #fff;
}

.about-container h1,
.about-container h2 {
  color: #fff;
}

.about-container p {
  margin: 20px 0;
  color: #fff;
}

.mission,
.vision {
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}
