/* ForgotPasswordPage.css - Specific styles for the Forgot Password component */

/* Container for the forgot password form */
.forgot-password-container {
    width: 100%;
    max-width: 400px; /* Increased width of the login box */
    padding: 40px; /* Increased padding for a larger box */
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 135, 92, 0.37);
    backdrop-filter: blur(30px); /* This line is removed to eliminate the blur */
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    z-index: 2;
    color: #fff;
}



.forgot-password-title {
  margin-bottom: 30px;
}

.forgot-password-input-group {
  margin-bottom: 20px;
}

.forgot-password-input {
  font-size: 18px;
  padding: 15px;
  width: 90%;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 70px;
  color: #333;
}

.forgot-password-input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.35);
}

.forgot-password-button {
  padding: 15px;
  width: calc(100% - 30px);
  margin-top: 20px;
  background-color: #1ee5bd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.forgot-password-button:hover {
  background-color: #362f5e;
}

.forgot-password-form-footer {
  margin-top: 25px;
}

.forgot-password-form-footer a {
  color: #ADD8E6;
  text-decoration: none;
}

.forgot-password-form-footer a:hover {
  text-decoration: underline;
}

