.not-found-container {
  width: 100%;
}

.not-found-styling {
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 135, 92, 0.37);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
}

.not-found-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 6rem; /* Larger font size for the 404 title */
}

.not-found-message {
  margin-bottom: 20px;
  font-size: 18px;
}

.not-found-button {
  padding: 15px;
  margin-top: 20px;
  background-color: #1ee5bd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.not-found-button:hover {
  background-color: #362f5e;
}
