

.home-hero {
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  font-size: 3rem; /* Larger font for the main title */
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem; /* Larger font for subtext */
  margin-bottom: 2rem;
}

.hero-actions {
  display: flex;
  gap: 20px;
  margin-bottom: 2rem; /* Space from the bottom */
}

.btn {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.btn-secondary,
.btn-primary {
  padding: 15px;
  margin-top: 20px;
  background-color: #1ee5bd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.btn-secondary:hover,
.btn-primary:hover {
  transition: background-color 0.3s;
}
